<li>
  <div class="row">
    <% @logs.each do |log| %>
      <div class="col-md-4">
        <p class="start_time"><%= log.start_time %></p>
      </div>
      <div class="col-10 col-sm-11 col-md-6">
        <p><%= log.content %></p>
      </div>
      <div class="col-1 col-sm-1 col-md-2">
        <%= link_to log_path(log), method: :delete, data: { confirm: "練習記録を削除してもよろしいですか?" } do %>
          <div class="float-right"><i class="fas fa-times fa-xs"></i></div>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
<div class="kaminari">
  <%= paginate @logs, window: 1, remote: true%>
</div>