.show-area {
  display: flex;
  padding: 70px 10px 70px 100px;
  border-bottom: 3px solid #e8e8e8;
}
.show-image {
  padding: 30px 40px;
}
.show-score {
  padding: 10px;
}
.score-title {
  font-size: 40px;
  margin-bottom: 5px;
}
.title {
  display: flex;
  height: 30px;
  p {
    width: 90px;
    font-weight: 600;
  }
}
.edit {
  margin-top: 15px;
}
.fa-edit {
  color: #7EACC4;
}
.fa-trash-alt {
  color: #da4242;
}
.log-area {
  list-style: none;
  padding: 70px 100px;
  li {
    font-size: 16px;
    padding: 10px 0;
  }
}
#log-btn {
  width: 100%;
}
.fa-times {
  text-decoration:none !important;
  color: #da4242;
}
.form-area {
  padding: 20px 0px;
}
.text-box {
  width: 100%;
}
.flatpickr {
  margin-bottom: 10px;
  max-width: 810px;
  width: 100%;
}

@media only screen and (min-width:600px) and ( max-width:1200px) {
  .show-area {
    padding: 5%;
  }
  .text-box {
    width: 100%;
    max-width: 700px;
  }
  .flatpickr {
    margin-bottom: 10px;
    width: 100%;
    max-width: 700px;
  }
  #log-btn {
    width: 100%;
    max-width: 700px;
  }
  table.details {
    width: 100%;
  }
  th.details,
  td.details {
    width: 10%;
  }
}

@media only screen and (max-width:599px) {
  .show-area {
    padding: 5%;
    display: block;
  }
  .show-image {
    padding-top: 30px;
    margin: 0 auto;
  }
  .log-area {
    padding: 70px 30px;
  }
  .form-area {
    padding: 0px;
  }
  .text-box {
    width: 100%;
    max-width: 505px;
  }
  .flatpickr {
    margin-bottom: 10px;
    width: 100%;
    max-width: 505px;
  }
  #log-btn {
    width: 100%;
    max-width: 505px;
  }
  table.details {
    width: 100%;
  }
  th.details,
  td.details {
    width: 30%;
  }
}