.form {
  margin: 50px;
  display: flex;
}
.record-area {
  margin: 70px auto;
  P {
    padding-left: 100px;
  }
}
.upload-image {
  margin: 70px auto;
}
.box,
.status,
.flatpickr,
.point {
  width: 100%;
  max-width: 340px;
}
table th {
  padding-bottom: 10px;
  padding-right: 30px;
}
table td {
  padding-bottom: 10px;
}
#new-btn {
  max-width: 380px;
  margin-top: 20px;
}

@media only screen and (min-width:660px) and ( max-width:1200px) {
  .record-area {
    margin-top: 10px;
    padding-right: 30px;
  }
  table.create-form {
    width: 100%;
  }
  th.create-form,
  td.create-form {
    display: block;
    text-align: left;
    width: 100%;
    padding: 0;
  }
  .record-area {
    margin: 50px 0px;
    p {
      padding: 0;
    }
  }
  label {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .upload-image {
    margin: 80px auto;
    min-width: 150px;
  }
}

@media only screen and (max-width: 660px) {
  table.create-form {
    width: 100%;
  }
  th.create-form, 
  td.create-form {
    display: block;
    text-align: left;
    width: 100%;
    padding: 0;
  }
  .record-area {
    margin: 50px 0px;
    P {
      padding: 0;
    }
  }
  label {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .upload-image {
    display: none;
  }
}