/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require simple_calendar
*= require_tree .
*= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "flatpickr/dist/flatpickr.css";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "simple_calendar";
@import "modules/calendar";
@import "modules/devise";
@import "modules/footer";
@import "modules/header";
@import "modules/home";
@import "modules/score_edit";
@import "modules/score_index";
@import "modules/score_show";


html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  padding-top: 60px;
  background: #e8ebe5;
  color: #565656;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
.container{
  margin: 0 auto;
} 
.content {
  margin: 80px;
  background: #F8F9FA;
  border-top-left-radius:10px; 
  border-top-right-radius:10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
table th {
  padding-bottom: 10px;
  padding-right: 30px;
}
table td {
  padding-bottom: 10px;
}

/* 登録ボタン */
.button {
  display: inline-block;
  padding: 0.1em 1em;
  width: 100%;
  text-decoration:none !important;
  color: #F5B629;
  background: #F8F9FA;
  border: solid 2px #F5B629;
  border-radius: 8px;
  transition: .4s;
  &:hover {
    background: #F5B629;
    color: white;
  }
}

/* アンダーライン */
.under {
  background: linear-gradient(transparent 70%, rgb(245, 245, 102) 70%);
}

/* フラッシュメッセージ */
.alert-info {
  @extend .alert-success;
}
.alert-alert {
  @extend .alert-danger;
}


@media only screen and (min-width:600px) and ( max-width:1200px) {
  .content {
    margin: 30px;
  }
}

@media only screen and (max-width:599px) {
  .content {
    margin: 50px 0px;
  }
}