<div class="calendar">
  <%= month_calendar events: @logs do |date, logs| %>
    <%= date.day %>
    <% logs.each do |log| %>
      <% if current_user.id == log.score.user_id %>
        <p><span class="under"><%= log.score.title %></span></p>
      <% end %>
    <% end %>
  <% end %> 
</div>